form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: ratio-space(1px);

    input {
        padding: ratio-space(1px) ratio-space(2px);
        border-bottom: solid 1px $primary-color;
        border-radius: 2px;

        @media #{$media-down-md} {
            &:nth-child(1) {
                width: 90%;
            }
            &:nth-child(2), &:nth-child(3) {
                width: calc(45% - #{ratio-space(.5px)});
            }
        }

    }

    input[type='submit'] {
        @extend button;
    }
}
